---
layout: base
permalink: /index.html
title: 'Timothy Meade'
description: 'Personal webblog of a software developer.'
blog:
  title: 'Blog'
  intro: "What I've been working on."
---

<div class="wrapper">
  <header class="full | section spot-color-theme-primary">
    <div class="section__inner flow region">
      <h1 class="text-center text-theme-light">{{ title }}</h1>
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">Welcome</h2>
      <p>
        Sharing my recent projects. 
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
